body {
  font-family: "Roboto", sans-serif;
}
img {
  width: 100%;
}

.page-container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding-left: 280px;
  -webkit-transition: padding-left 0.3s ease 0s;
  transition: padding-left 0.3s ease 0s;
}

.sbar_collapsed.page-container {
  padding-left: 0;
}

.main-content {
  width: 100%;
  background: #f3f8fb;
}

.main-content-inner {
  padding: 0 30px 50px;
}
/* Core Css End */

/* Sidebar css Start */
.sidebar-menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  height: 100vh;
  width: 280px;
  overflow: hidden;
  background: #0c2556;
  box-shadow: 2px 0 32px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.sbar_collapsed .sidebar-menu {
  left: -280px;
}

.main-menu {
  height: calc(100% - 100px);
  overflow: hidden;
  padding: 20px 10px 0 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu-inner {
  overflow-y: scroll;
  height: 100%;
}

.sidebar-header {
  padding: 7px 0px 15px;
  background: #0c2556;
}
.sidebar-menu .logo {
  text-align: center;
}
.logo a {
  display: inline-block;
  /* max-width: 120px; */
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  color: #4765f6;
  font-family: "Pacifico", cursive;
  letter-spacing: 2px;
}
.logo a span {
  color: rgb(255, 255, 255);
}

.header-text a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.header-text a i {
  margin-right: 10px;
}

.header-text {
  padding: 6px 22px;
  background: #0f2d69;
  margin-top: 5px;
}
li.management {
  padding: 0 25px 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  font-family: "Rubik";
  color: #7d838f;
}
ul#menu {
  padding: 0;
}
.metismenu li {
  list-style: none;
}
.metismenu > li > a {
  padding-left: 32px !important;
}
.metismenu li a {
  position: relative;
  display: block;
  color: #acb5c7;
  font-size: 15px;
  text-transform: capitalize;
  padding: 10px 15px;
  letter-spacing: 0;
  font-weight: 500;
  text-decoration: none;
}

.metismenu li a i {
  color: #acb5c7;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.metismenu li a:after {
  position: absolute;
  content: "\f104";
  font-family: fontawesome;
  right: 15px;
  top: 12px;
  color: #8d97ad;
  font-size: 15px;
}

.metismenu .active a:after {
  position: absolute;
  content: "\f107";
  font-family: fontawesome;
  right: 15px;
  top: 12px;
  color: #8d97ad;
  font-size: 15px;
}

.metismenu li a:only-child:after {
  content: "";
}

.metismenu li a span {
  margin-left: 10px;
}

.metismenu li.active > a,
.metismenu li:hover > a {
  color: #fff;
}

.metismenu li li a {
  padding: 8px 20px;
}

.metismenu li ul {
  padding-left: 37px;
}

.metismenu > li:hover > a,
.metismenu > li.active > a {
  color: #fff;
  background: #0f2d69;
}

.metismenu li:hover > a,
.metismenu li.active > a {
  color: #fff;
}

.metismenu li:hover > a i,
.metismenu li.active > a i {
  color: #fff;
}

.metismenu li li a:after {
  top: 6px;
}
li.management.Pages {
  margin: 12px 0;
  padding-bottom: 0;
}
li.management.Components {
  margin: 12px 0;
  padding-bottom: 0;
}
/* Sidebar css End */

/* Header Css Start */

.header-area {
  padding: 10px 30px 10px;
  background: #fff;
  border-bottom: 1px solid #d8e3e7;
}

.nav-btn {
  margin: 0 30px 0 0;
  cursor: pointer;
}

.nav-btn span {
  display: block;
  height: 31px;
  margin: 4px 0;
  border-radius: 15px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 24px;
}

.sbar_collapsed .nav-btn span {
  transform: none;
  opacity: 1;
}

.notification-area {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  z-index: 1;
  padding-right: 12px;
}
.notification-area li {
  display: inline-block;
  margin-left: 12px;
  cursor: pointer;
  color: rgb(141 151 173);
}
.notification-area li > i {
  font-size: 18px;
  vertical-align: middle;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
li.user-logo {
  width: 35px;
  border-radius: 50%;
  height: 35px;
  margin-left: 18px;
}

li.user-logo img {
  border-radius: 50%;
}

.notification-area li a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  font-family: "Rubik";
  display: inline-block;
  padding: 7px 2px;
  font-size: 20px;
}
.notification-area li:nth-child(3) {
  color: rgb(192, 170, 170);
}

ul.notification-area {
  margin-bottom: 0;
}

.user-details img {
  width: 40px;
  border-radius: 50%;
  transition: 0.5s;
}
.user-details img:hover {
  border: 2px solid red;
  box-sizing: border-box;
}

ul.notification-area {
  display: flex;
  justify-content: flex-end;
}

ul.show-user-details li {
  display: block;
  margin-left: 0;
  padding-left: 12px;
}

ul.show-user-details {
  padding-left: 0;
  background: #0c2556;
  position: absolute;
  top: 57px;
  left: -14px;
  width: 166px;
  border-radius: 7px;
  transition: 0.5s;
}

.user-wrapper {
  position: relative;
}

ul.show-user-details li a i {
  width: 24px;
  font-size: 16px;
}

ul.show-user-details li a {
  display: inline-block;
  font-size: 18px;
  color: #fff;
}
ul.show-user-details li:hover {
  background: #0f2d69;
  border-radius: 7px;
}

.user-details {
}

.user-details span {
  color: #000;
  margin-left: 7px;
  margin-right: 5px;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  font-family: "Rubik";
}

.user-details i {
  color: #000;
}

/* header End */

/* Card  Section Css Start */
.dashboard_card {
  background: #fff;
  padding: 19px 21px 16px 20px;
  border-radius: 7px;
  margin-bottom: 22px;
}

.dashboard_card h6 {
  color: rgb(117 127 149);
  font-weight: 400;
}
.dashboard_card strong {
  font-size: 25px;
  font-family: "Rubik";
  font-weight: 500;
  margin-right: 4px;
}
.dashboard_card span {
  color: rgb(8 131 57);
  font-weight: 500;
  position: relative;
  top: -3px;
}
/* Card  Section Css End */

/* Chart start */
.chart {
  position: relative;
  background: #fff;
  padding: 40px 10px 12px;
  border-radius: 7px;
}

.chart span {
  position: absolute;
  top: 18px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Rubik";
}
.activMembarship {
  background: #4765f6;
  color: #fff;
  margin: 0 0px;
  padding: 15px 8px 16px;
}
.members h4 {
  display: inline-block;
  font-size: 27px;
  font-weight: 500;
}
.members strong {
  color: rgb(208 214 225);
  font-size: 15px;
}
.members p {
  color: rgb(208 214 225);
  font-size: 18px;
  font-family: "Roboto";
}

.membars-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.overview-total {
  position: relative;
}
.overview-total .overview-num {
  font-size: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Chart End */

/* Recent User */
table thead tr th {
  color: rgb(141 151 173);
  font-family: "Rubik";
  font-size: 13px;
}
tbody.user-data td span {
  width: 35px;
  height: 35px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
}

tbody.user-data td span img {
  border-radius: 50%;
}
.membership {
  color: green;
  font-weight: 500;
}
.pending {
  color: rgb(239 186 7);
  font-weight: 500;
}
.cancelled {
  color: red;
  font-weight: 500;
}
.card {
  border-radius: 7px;
}
tbody.user-data {
  font-size: 15px;
}
h4.header-title {
  border-bottom: 1px solid rgb(141 151 173);
  padding-bottom: 15px;
}
.seel_all {
  text-align: right;
}

.seel_all button {
  border: none;
  outline: none;
  background: rgb(208 214 225);
  font-size: 14px;
  font-weight: 500;
  font-family: "Rubik";
  padding: 6px 15px;
  border-radius: 7px;
  transition: 0.5s ease;
}

.seel_all button:hover {
  background: #4765f6;
  color: #fff;
}

tbody.user-data tr:hover {
  cursor: pointer;
  background: rgb(247 248 250);
}

tbody.user-data tr {
  transition: 0.5s ease;
}
tbody.user-data tr td i {
  font-size: 9px;
  margin-right: 8px;
}
tbody.user-data tr td {
  line-height: 29px;
}

tbody.user-data tr th {
  line-height: 34px;
}
table.table {
  border-spacing: 0px;
}
/* Recent User End*/
